* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #e0e0e0;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "menu header header"
        "menu content content"
        "menu content content"
        "footer footer footer";
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 60px;
    gap: 20px;
    padding: 25px;
    padding-bottom: 1px;
}

.line-1{
    font-style: normal;
    color: #645e5e;
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 280%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    font-family: "Gothic";
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 1s steps(10) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #645e5e;}
  to{border-right-color: transparent;}
}

@media (max-width: 768px) {
    .tagline {
        display: none;
    }
}
.header{
    padding: 10px;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-radius: 30px;

    overflow: hidden;
    display: flex;
    justify-content: center;
}

.content {
  background-color: white;
  border-radius: 16px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
    padding: 10px;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: inset 25px 25px 59px #afafaf,
                inset -25px -25px 59px #ffffff;
}

.container div.content {
  grid-area: content;
  background-color: black;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}

.container div.menu::-webkit-scrollbar{
    display: none;
}
.tile::-webkit-scrollbar{
    display: none;
}

.tile {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
    min-height: 420px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 5px 5px 8px #afafaf,
                -5px -5px 8px #ffffff;
    transition: 0.4s;
}

.tile-title {
  font-size: 45px;
  font-weight: 600;
  color: #645e5e;
  margin: 15px 0 0 10px;
  font-family: "Gothic";
}

.tile-image {
  min-height: 170px;
  background-color: #313131;
  border-radius: 15px;
  background: #313131;
  box-shadow: inset 5px 5px 3px #2f2f2f,
            inset -5px -5px 3px #333333;
}

.tile-body {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 15px;
}

.tile-footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #b3b3b3;
}

.tile-by-name {
  font-weight: 700;
}

.footer {
    padding: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw 8px 2vw;
}

.footer h4,
.footer p {
    margin: 0;
    color: gray;
}


.reseau a {
  transition: 0.4s;
  color: gray
}

.socialbar {
  width: 230px;
  background-color: #e0e0e0;
  border-radius: 3em;
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
  box-shadow: 3px 3px 15px rgb(255, 255, 255),
                   -3px -3px 15px rgb(172, 172, 172);
}

#github:hover {
  color: #c9510c;
}

#instagram:hover {
  color: #d62976;
}

#facebook:hover {
  color: #3b5998;
}

#discord:hover {
  color: #5865f2;
}

.droit{
    display: flex;
    justify-content: flex-end;
}

.bundle {
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.bundle h4 {
    margin: 0; 
    display: flex;
    align-items: center;
    line-height: 1;
}

.logo_ico {
    display: block; 
    transform: translateY(-4px);
}

button {
    width: 230px;
    width: 100%;
    color: gray;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    border-radius: 3em;
    background: #e0e0e0;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    transition: all 0.1s;
    box-shadow:
        6px 6px 12px afafaf,
        -6px -6px 12px #ffffff;
}

button:active {
  color: #666;
  box-shadow:
    0px 0px 0px #000,
    0px 0px 0px #2f2f2f,
    inset 4px 4px 12px #afafaf,
    inset -4px -4px 12px #ffffff;
}
