@font-face{
    font-family: Gothic;
    src: url("../fonts/Gothic\ Valentine\ PERSONAL\ USE\ ONLY!.ttf");
}
@font-face{
    font-family: Avestrava;
    src: url("../fonts/Avestrava\ Regular\ Personal\ Use\ Only.ttf");
}